<div class="main-content">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-6 ">
            <button (click)="addBudget()" class="btn btn-primary " >add Budget</button>
        </div>    
        <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title ">Budget Table</h4>
                <p class="card-category"> Here is a subtitle for this table</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                Name
                            </th>
                            <th>
                                Value
                            </th>
                            <th>
                                Duration
                            </th>  
                            <th>
                                Category
                            </th>
                            <th>
                                Compte
                            </th>
                            <th>
                                Actions
                            </th>                            
                        </thead>
                        <tbody>
                          <tr *ngFor ="let budget of budgets">
                              <td>{{budget.name }}</td>
                              <td>{{budget.value}}</td>
                              <td>{{budget.duration}}</td>
                              <td>{{budget.category}}</td>
                              <td>{{budget.compte.name}}</td>
                              <td>
                                  <button (click)="updateBudget(budget.id)" class="btn btn-info">Update</button>
                                  <button (click)="deleteBudget(budget.id)" class="btn btn-danger" style="margin-left:10px;">Delete</button>
                              </td>
                          </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   </div>
  </div>
</div>
